body {
    font-family: "Dancing Script", cursive;
    margin: 0;
}

header>h1{
    background-color: burlywood;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: rgb(15, 14, 14);
    height: 40px;
    margin-top: -22px;
}

ul li{
    list-style: none;
}


nav li{
    display: inline;
    margin-left: 300px;
    font-size: 20px;
    text-align: center;
}

li a{
    text-decoration: none;
    color: white;
}

#mainCont{
    background-image: url("");
}